body {
  background: #111122;
}
p {
  color: #dddddd;
  font-family: serif;
  padding: 10px;
}
h1 {
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
}
h1{
  color: #dddddd;
}
h2{
  font-family: sans-serif;
  color: #dddddd;
  padding: 10px;
}
nav{
  background-color: #7777af;
}
.out {
  border: 15px solid #050509;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 4px solid #000000;
}
pre{
  font-size: 24px;
}
.code{
  background-color: #181a1b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: #e8e6e3;
  font-family: monospace;
  font-family: sans-serif;
  border: 1px solid #454a4d;
  text-align: left;
  border-radius: 25px;
}
.small{
  font-size: 1px;
}
.lbs{
  color: #5555ff;
}
.pg{
  color: #0000ff;
}
